<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body class="bcolor">
    <br>
    <br>
    <br>
    <br>
    <div  style="text-align: center;">
        <!-- <img src="https://www.edifycit.com/images/logo1.webp" alt="" width="30%";> -->
    </div>
    <h2 class="color">Register Now</h2>
    <br>
    <FORM class="color" action="/register" target="_self">
        <table>
            <tr>
                <td>
                    <label for="studentname">Student Name</label>
                </td>
                <td>
                    <input type="text" name="studentname" id="studentname" class="alignment">
                </td>
            </tr>
            <tr>
                <td>
                    <label for="fathername">Father Name</label></td>
                <td><input type="text" name="fathername" id="fathername" class="alignment">
                </td>
            </tr>
            <tr>
                <td>
                    <label for="stdcnic">Student stdcnic/ B.Form No.</label></td>
                <td><input type="text" class="alignment" name="stdcnic" id="stdcnic" placeholder="xxxxx-xxxxxxx-x">
                </td>
            </tr>
            <tr>
                <td>
                    <label for="phone">Phone No.</label></td>
                <td><input type="text" name="phone" id="phone" class="alignment" placeholder="03xx-xxxxxxx">
                </td>
            </tr>
            <tr>
                <td>
                    <label for="city">City:</label>
                </td>
                <td>
                    <input type="text" name="city" id="city" class="alignment" placeholder="City">
                </td>
            </tr>
        </table>
        <br>
        <br>
        <br>
        <br>
        <div style="text-align: center;">
            
            <input class="buto" type="submit" name="" id="">
            
        </div>
        
    </FORM>
    <br>
    
</body>
</html>
